.success-lighten-5 {
  background-color: $success-lighten-5 !important;
}

.info-lighten-5 {
  background-color: $info-lighten-5 !important;
}

.warning-lighten-5 {
  background-color: $warning-lighten-5 !important;
}

.error-lighten-5 {
  background-color: $error-lighten-5 !important;
}

.primary-lighten-5 {
  background-color: $primary-lighten-5 !important;
}

.accent-lighten-5 {
  background-color: $accent-lighten-5 !important;
}
