// ==================================== //
// Default
// ==================================== //
$shadow: 0px 3px 12px 0px rgba(104, 113, 134, 0.2);

// ==================================== //
// Font color for theme
// ==================================== //
$material-font-light-theme: #5a6988;

// ==================================== //
// Lighten Colors
// ==================================== //
$success-lighten-5: #e1f3e5 !default;
$success-lighten-4: #f2f9f4 !default;
$info-lighten-5: #e5f4fb !default;
$warning-lighten-5: #fdf6e3 !default;
$error-lighten-5: #fce2e5 !default;
$primary-lighten-5: #e6edfd !default;
$accent-lighten-5: #f4e6fd !default;

// ==================================== //
// Colors
// ==================================== //
$light-blue: #5b6987;
$light-blue-1: #2d6adf;
$blue-1: #f5f7fb;
$blue: #031b4e;
$blue-2: #3369e8;
$primary: #2d6adf;
$success: #009925;
$gray-100: #e5e7ec;
$gray-200: #f3f5f8;
$gray-300: #c4c8ce;
$gray-400: #c6cbd6;
$gray-500: #f7f8fb;
$yellow: #eeb211;
$light-yellow: #fff1c0;
$white: #fff;

/*===================================
              Header
====================================*/
$nav-link-height: 75px;
$nav-link-padding: 15px 15px;
$nav-sublink-padding: 15px 15px;
$nav-link-font-size: 17px;
$nav-link-font-color: $light-blue;
$nav-link-font-hover-color: $blue;
$nav-link-font-family: "AvertaCY-Semibold", sans-serif;

/*===================================
        Heading Fonts
====================================*/
$heading-color: $blue;

/*===================================
       Banner
====================================*/
$banner-subtitle-color: $light-blue;
$banner-main-title-color: $light-blue-1;

/*===================================
        Form Input
====================================*/
$input-text-color: $light-blue;

// Border
$border-color: #e5e7ec;
