.article-card {
  overflow: hidden;
  .article-time {
    font-size: 15px;
    color: $light-blue;
  }
  .article-detail {
    margin-top: 22px;
    font-size: 15px;
    .article-title {
      font-size: 21px;
      text-decoration: none;
      color: $blue;
      &:hover {
        color: $primary;
      }
    }
    .article-cat-view {
      margin-top: 20px;
    }
    .author-details {
      margin-top: 45px;
    }
    .view-text {
      color: $light-blue;
    }
  }
}

.v-application a.author-name {
  color: $blue;
  font-size: 15px;
  &:hover {
    color: $primary;
  }
}

.article-sidebar {
  border-radius: 5px;
  padding-bottom: 32px;
  .v-list {
    background-color: $gray-200;
  }
  .sidebar-title {
    font-size: 12px;

    text-transform: uppercase;
    padding: 32px 32px 12px 32px;
  }
  .v-list {
    .v-list-item {
      padding-left: 32px;
      padding-right: 32px;
      &:hover {
        &::before {
          background-color: transparent;
        }
        .v-list-item__title {
          color: $light-blue-1;
        }
      }
      .v-list-item__title {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 1204px) {
  .article-detail-part {
    padding-left: 26px;
  }
}

.article-detail-part {
  font-size: 18px;
}

.article-img {
  margin-top: 50px;
  margin-bottom: 60px;
  border-radius: 5px;
  overflow: hidden;
}

.article-detail-title {
  font-size: 30px;
  position: relative;
  margin-left: 17px;
  margin-bottom: 21px;
  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 3px;
    background-color: $yellow;
    position: absolute;
    left: -17px;
  }
}

.warning-alerts {
  background-color: $light-yellow;
  border-radius: 5px;
  padding: 6px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: $blue;
  font-size: 18px;
}

ul.article-listing {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 55px;
  li {
    padding: 12px 0;
    font-size: 18px;
    color: $blue;
    .content {
      margin-left: 12px;
    }
  }
}

.article-quote {
  padding: 40px;
  border: 1px solid $border-color;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  .article-title {
    font-size: 24px;
    margin-bottom: 26px;
    margin-top: 15px;
  }
  .quote-author-name {
    font-size: 19px;
    color: $light-blue-1;
  }
}

.article-spacer {
  margin-top: 60px;
}

.article-mini-spacer {
  margin-top: 40px;
}

.text-blue {
  color: $blue;
}

.text-light-blue {
  color: $light-blue;
}

.social-listing {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}

.social-sharing-apart {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.article-spacer-title {
  padding-top: 45px;
  margin-bottom: 35px;
  border-top: 1px solid $border-color;
  font-size: 21px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .article-detail-title {
    font-size: 21px;
  }
  .social-sharing-apart {
    display: block;
  }
  .hashtags {
    font-size: 15px;
  }
  .article-spacer {
    margin-top: 40px;
  }
  .article-img {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  ul.article-listing {
    margin-top: 35px;
    li {
      padding: 8px 0;
      .content {
        font-size: 17px;
      }
    }
  }
  .article-detail-part {
    .v-card__text {
      padding: 20px;
    }
  }
}

@media (max-width: 768px) {
  .stickey-sidebar {
    position: absolute !important;
    left: 15px !important;
    top: 60px !important;
  }
}

// comment
.comment-widget {
   border: 1px solid $border-color;
  border-radius: 5px;
  .comment-item {
    border-bottom: 1px solid $border-color;
    padding: 20px 25px;

    &.child-item {
      border-bottom: 0;
      margin-left: 24px;
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
    }
    &::last-child {
      border-bottom: 0;
    }
    .comment-part {
      margin-left: 12px;
      width: 100%;
    }
    .comment-time {
      color: $light-blue;
      font-size: 15px;
    }
    .user-details {
      margin-top: 9px;
    }
    .comment-text {
      font-size: 16px;
      color: $light-blue;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    .comment-user {
      font-size: 16px;
      color: $blue;
      font-family: "AvertaCY-Semibold", sans-serif;
    }
  }
  .comment-item-child {
    padding: 20px 25px;

    &.child-item {
      border-bottom: 0;
      margin-left: 24px;
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
    }
    &::last-child {
      border-bottom: 0;
    }
    .comment-part {
      margin-left: 12px;
      width: 100%;
    }
    .comment-time {
      color: $light-blue;
      font-size: 15px;
    }
    .user-details {
      margin-top: 9px;
    }
    .comment-text {
      font-size: 16px;
      color: $light-blue;
      margin-top: 15px;
      margin-bottom: 25px;
    }
    .comment-user {
      font-size: 16px;
      color: $blue;
      font-family: "AvertaCY-Semibold", sans-serif;
    }
  }
}
.comment-widget-video {
  // border: 1px solid $border-color;
 border-radius: 5px;
 .comment-item {
   border-bottom: 1px solid $border-color;
   padding: 20px 25px;

   &.child-item {
     border-bottom: 0;
     margin-left: 24px;
     display: flex;
     align-items: flex-start;
     margin-top: 20px;
   }
   &::last-child {
     border-bottom: 0;
   }
   .comment-part {
     margin-left: 12px;
     width: 100%;
   }
   .comment-time {
     color: $light-blue;
     font-size: 15px;
   }
   .user-details {
     margin-top: 9px;
   }
   .comment-text {
     font-size: 16px;
     color: $light-blue;
     margin-top: 15px;
     margin-bottom: 25px;
   }
   .comment-user {
     font-size: 16px;
     color: $blue;
     font-family: "AvertaCY-Semibold", sans-serif;
   }
 }
 .comment-item-child {
   padding: 20px 25px;

   &.child-item {
     border-bottom: 0;
     margin-left: 24px;
     display: flex;
     align-items: flex-start;
     margin-top: 20px;
   }
   &::last-child {
     border-bottom: 0;
   }
   .comment-part {
     margin-left: 12px;
     width: 100%;
   }
   .comment-time {
     color: $light-blue;
     font-size: 15px;
   }
   .user-details {
     margin-top: 9px;
   }
   .comment-text {
     font-size: 16px;
     color: $light-blue;
     margin-top: 15px;
     margin-bottom: 25px;
   }
   .comment-user {
     font-size: 16px;
     color: $blue;
     font-family: "AvertaCY-Semibold", sans-serif;
   }
 }
}

@media (max-width: 767px) {
  .article-quote {
    padding: 25px 20px;
    .article-title {
      font-size: 20px;
    }
  }
  .warning-alerts {
    font-size: 17px;
  }
  .comment-widget .comment-item {
    padding: 20px 13px;
  }
  .comment-widget .comment-item-child {
    padding: 20px 13px;
  }
  .comment-widget .comment-item-child.child-item {
    margin-left: 15px;
  }
  .comment-widget .comment-item.child-item {
    margin-left: 15px;
  }
  .comment-widget-video .comment-item {
    padding: 20px 13px;
  }
  .comment-widget-video .comment-item-child {
    padding: 20px 13px;
  }
  .comment-widget-video .comment-item-child.child-item {
    margin-left: 15px;
  }
  .comment-widget-video .comment-item.child-item {
    margin-left: 15px;
  }
}

.bg-grediant-before::before {
  content: "";
  background: linear-gradient(181deg,#f5f7fb 50%,#fff 63%);
  height: 350px;
  width: 100%;
  position: absolute;
}